<h2><%= t('users.recipes.index.my_recipes') %></h2>

<% if @user_recipes.empty? %>
  <h3><%= t('users.recipes.index.empty_recipes') %></h3>
<% end %>

<% @user_recipes.each do |recipe| %>
  <h3><%= link_to recipe.title, recipe %></h3>
  <%= link_to t('users.recipes.index.edit'), edit_recipe_path(recipe) %>  
  <%= link_to t('users.recipes.index.delete'), recipe, method: :delete %>
<% end %>